#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*ESTILOS DE LA CALCULADORA */



.img_react{
  
  height: 12vh;
  animation: spin 4s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg); /* Empieza sin rotación */
  }
  100% {
    transform: rotate(360deg); /* Termina con una rotación completa de 360 grados */
  }
}

.calculadora{
  border-radius: 12px;
  width: 80vw;
  border: solid;
  border-color: #5c5c5c67;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  
}

.calculadora .input{
  
  width: 80%;
  margin: 10px;
  font-size: 4rem;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #8888884b;
  
}

.calculadora .input:focus{
  
  border: solid rgba(20, 120, 187, 0.253);
  
}

.calculadora .entrada{
  display: none;
}

.resultado p{
  
  font-size: 2rem;
  margin: 0;  
  padding: 1rem;
}

.resultado{
  background-color: #8888884b;
  width: 80%;
  height: 30%;
  border-radius: 10px;
  margin: 10px;
  overflow: auto;
}

button{
  margin: 2px;
  font-size: 1.2rem;
  
  
}

button:hover{
  background-color: #272727;
}

.titulo{
  opacity: calc(70%);
  transition: 0.3s;
  margin: 1rem;
}

.titulo:hover{
  opacity: calc(100%);
}

.linea_0_numeros button, .buttonRed{
  background-color: rgba(255, 0, 0, 0.247);
}

.button_historial{
  margin-top: 0rem;
  margin-bottom: 2rem;
  background-color: #303fc45d;
}
